<!DOCTYPE html>
<html lang="ka">
  {% include head.html %}
<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=879622035404501";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-58146135-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <script src="{{ "/bower_components/anchor-js/anchor.min.js" | prepend: site.baseurl }}"></script>
  <script>
    anchors.options = {
      placement: 'left'
    };

    anchors.add('.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content h5');
  </script>
</body>
</html>
